<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>忘記密碼</title>
<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
	<h2>忘記密碼</h2>
	<form th:action="@{/forgotpassword}" method="POST">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		<div>
       	 	<label>Email:</label>
        	<input type="email" name="email" required />
    	</div>
    	<button type="submit">寄送重設密碼連結</button>
	</form>
	<div class="showError">
    	<p th:if="${error != null}" th:text="${error}"></p>
	</div>
	<div class="showMessage">
		<p th:if="${message != null}" th:text="${message}"></p>
	</div>
</body>
</html>