<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登入</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<h2>登入</h2>
<form th:action="@{/doLogin}" th:object="${user}" method="post">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div>
	    <label>Email:</label>
	    <input type="text" th:field="*{email}" required/> <br/>
    </div>
    <div>
	    <label>密碼:</label>
	    <input type="password" th:field="*{password}" required/> <br/>
    </div>
    <div class="showError">
        <p th:if="${loginError != null}" th:text="${loginError}"></p>
    </div>
    <button type="submit">登入</button>
</form>
<a th:href="@{/register}">註冊</a> |
<a th:href="@{/forgotpassword}">忘記密碼？</a>
</body>
</html>