<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>重設密碼</title>
<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
	<h2>重設密碼</h2>
	<form th:action="@{/resetpassword}" method="POST">
		<input type="hidden" name="token" th:value="${token}" />
	    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
	    <div>
		    <label>新密碼:</label>
		    <input type="password" name="password" required />
	    </div>
	    <div>
	    	<label>確認密碼:</label>
	    	<input type="password" name="confirmpassword" required />
	    </div>
	    <button type="submit">更新密碼</button>
	</form>
	<div class="showError">
		<p th:if="${error != null}" th:text="${error}"></p>
	</div>
	<div class="showMessage">
		<p th:if="${message != null}" th:text="${message}"></p>
	</div>
</body>
</html>